/* variables */
:root {
    --basic-gray: #EEEEEE;
    --page-bg-color: #ffffff;

    --title-text-color: #000000;
    --basic-text-color: #283136;

    --basic-button-text-color: #ffffff;
    --basic-button-text-color-opacity: rgba(255, 255, 255, 0.3);

    --basic-button-bg-color: #FB565A;
    --basic-button-bg-color-hover: #E74246;
    --basic-button-bg-color-active: #D7373B;

    --special-button-bg-color-1: #00CA74;
    --special-button-bg-color-1-hover:#00BC6C;
    --special-button-bg-color-1-active: #00AA62;

    --special-button-bg-color-2: #EFC849;
    --special-button-bg-color-2-hover: #EAB534;
    --special-button-bg-color-2-active: #E5A722;

    --special-button-text-color: #000000;
    --special-button-text-color-opacity: rgba(0, 0, 0, 0.3);

    --logo-hover: #A6A6A6;
    --special-slider: hsl(60, 10%, 98%);
}

/* hidden */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
	padding:0;
	border:0;
    margin: -1px;
	height: 1px;
	width: 1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
	overflow: hidden;
}

/* global */
body {
    min-width: 1196px;
    margin: 0;
    padding: 0;;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--page-bg-color);
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button:active,
button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

.page {
    width: 100vw;
    height: 100%;
}

  /* main GRID */
.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100%;
}

.container {
    width: 1176px;
    margin: 0 auto;
    padding: 0 10px;
}

  /* decoration line */
.decor-line {
    border: none;
    background-color: var(--basic-gray);
    height: 2px;
    margin: 0;
    margin-top: 73px;
}

/* navigation section */
.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 438px;
    margin: 0;
    padding: 0;
    margin-right: 44px;
    margin-top: 4px;
    justify-content: space-between;
    list-style: none;
}

.site-navigation-item {
    height: 66px;
}

.site-navigation a,
.cart-navigation a {
    display: block;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-top: 22.5px;
}

.cart-navigaton-img {
    margin-top: 22.5px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
    color: var(--basic-button-bg-color);
}

.site-navigation a:active,
.cart-navigation a:active {
    color: var(--title-text-color);
    opacity: 0.3;
}

.cart-navigation {
    margin-right: 16px;
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
}

.cart-navigation a {
    margin-left: 25px;
}

.main-header-logo {
    padding: 0;
    width: 160px;
    height: 66px;
    position: relative;
    bottom: 2px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    cursor: pointer;
}

.main-header-logo:active path {
    fill: var(--logo-hover);
}

/* features section */
.features {
    margin: 0 auto;
    position: relative;
}

.nav-features-bg {
    width: 100%;
    background-color: var(--basic-gray);
}

.features-list,
.features-list h3 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.feature-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -4px;
}

.feature-item img {
    margin-left: 397px;
}

.feature-slide {
    position: absolute;
}

.feature-slide h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin-top: 78px;
}

.feature-slide p {
    margin-top: 27px;
    margin-bottom: 52px;
}

.slider-buttons {
    position: absolute;
    left: 546px;
    top: 317px;
    z-index: 1;
    display: flex;
    width: 88px;
    justify-content: space-between;
}

.slider-buttons button {
    padding: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--special-slider);
    border-radius: 50%;
    background-color: var(--special-slider);
    cursor: pointer;
}

.current-slide {
    background-image: url("../img/ellipse.svg");
    background-position: center;
    background-repeat: no-repeat;
}

/* site buttons */
.button {
    margin: 0;
    padding: 16px 40px;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    background-color: var(--basic-button-bg-color);
    color: var(--basic-button-text-color);
    cursor: pointer;
}

.special-button {
    color: var(--special-button-text-color);
}

  /* features section button */
.features-button {
    margin: 0;
    margin-left: 1px;
}

.button-on-sliders {
    padding-left: 54px;
    padding-right: 54px;
}

.button-on-sliders:hover,
.button-on-sliders:focus {
    background-color: var(--basic-button-bg-color-hover);
}

.button-on-sliders:active {
    color: var(--basic-button-text-color-opacity);
    background-color: var(--basic-button-bg-color-active);
}

/* servises section */
.service-item {
    width: 300px;
}

.service-item h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: 18px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.service-item p {
    margin: 0;
    padding: 0;
    margin-top: 16px;
}

.service-item button {
    margin-top: 32px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
}

.services-list-wrapper {
    margin-top: 80px;
    width: 1100px;
}

  /* services section buttons */
.button-on-services:hover,
.button-on-services:focus {
    background-color: var(--basic-button-bg-color-hover);
}

.button-on-services:active {
    color: var(--basic-button-text-color-opacity);
    background-color: var(--basic-button-bg-color-active);
}

.button-on-services-1 {
    background-color: var(--special-button-bg-color-1);
}
.button-on-services-2 {
    background-color: var(--special-button-bg-color-2);
}

.button-on-services-1:hover,
.button-on-services-1:focus {
    background-color: var(--special-button-bg-color-1-hover);
}

.button-on-services-1:active {
    color: var(--basic-button-text-color-opacity);
    background-color: var(--special-button-bg-color-1-active);
}

.button-on-services-2:hover,
.button-on-services-2:focus {
    background-color: var(--special-button-bg-color-2-hover);
}

.button-on-services-2:active {
    color: var(--basic-button-text-color-opacity);
    background-color: var(--special-button-bg-color-2-active);
}


  /* sections - about-company, services-2, work-advantage */
.company-info-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.about-company-and-services-2-wrapper {
    width: 651px;
}

.about-company h3 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin: 0;
    margin-top: 45px;
}

.about-company p {
    margin: 0;
    margin-top: 32px;
}

.services-2 {
    margin: 0;
    margin-top: 40px;
}

.services-2 h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.services-2 ul {
    margin: 0;
    margin-top: 23px;
    padding: 0;
    list-style: none;
}

.services-2 li {
    margin: 0;
    margin-bottom: 24px;
    margin-left: 4px;
}

.services-2 li:last-child {
    margin: 0;
    margin-left: 4px;
}

.services-2-bullet {
    display: inline-block;
    border: none;
    margin: 0;
    margin-right: 11px;
    margin-left: -4px;
    margin-bottom: 4px;
    width: 25px;
    height: 2px;
}

/* work-advantages section */
.work-advantages {
    width: 376px;
}

.work-advantages-logo {
    margin: 0;
    margin-top: 10px;
}

.work-advantages h3 {
    margin: 0;
    margin-top: 30px;
    margin-right: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.work-advantages-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 31px;
}

.work-advantage-item-percent {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}

.work-advantage-item-percent span {
    font-size: 26px;
    line-height: 40px;
    vertical-align: text-top;
}

.work-advantage-item-text {
    margin: 0;
    margin-top: 10px;
    line-height: 18px;
}

.work-advantage-item {
    margin-right: 23px;
}

/* partners-logo section */
.partners-logo {
    margin: 0;
}

.partners-logo-list {
    width: 1085px;
    margin: 0;
    margin-top: 51px;
    margin-left: -7px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.partners-logo-decor-line {
    position: relative;
    bottom: 9px;
    margin: 0;
    border: none;
    border-left: 2px solid var(--basic-gray);
    width: 2px;
    height: 52px;
}

.decor-line-partners-bottom {
    margin-top: 34px;
}

.borodinsky-logo {
    margin-left: -2px;
    position: relative;
    bottom: 4px;
}

.pink-logo {
    margin-left: 20px;
    position: relative;
    right: 10px;
    bottom: 3px;
}

.mishka-logo {
    margin-left: 16px;
}

/* FOOTER */
/* footer-contacts section */
.map-contacts-wrapper {
}

.map-wrapper {
    width: 1455px;
    height: 416px;
    margin: 0 auto;
    margin-top: 80px;

}

.container-map {
    margin: 0;
}

.contacts-on-map {
    position: absolute;
    background-color: var(--page-bg-color);
    padding: 49px 39px 47px 50px;
    width: 230px;
    margin-top: 54px;
}

.contacts-on-map p {
    margin: 0;
}

.contacts-on-map-title {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-phone {
    display: block;
    margin: 0;
    color: inherit;
}

.map {
    margin: 0 auto;
    border: none;
}

.button-map-contacts {
    padding-left: 44px;
    padding-right: 44px;
    margin-top: 37px;
}

.adress-phone-wrapper {
    margin: 0;
    margin-top: 23px;
    line-height: 18px;
}

/* footer-social section */
.footer-social {
    display: flex;
    margin-top: 68px;
    margin-bottom: 74px;
}

.footer-social-text {
    margin: 0;
    margin-left: 139px;
    order: 1;
}

.footer-social-text h3 {
    margin: 0;
    margin-top: 6px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.footer-social-text p {
    margin: 0;
    margin-top: 10px;
    line-height: 22px;
}

.footer-social-list {
    width: 261px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

    margin: 0;
    padding: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--basic-gray);
}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-button-bg-color);
}

.social-button:active path {
    fill: var(--basic-button-text-color-opacity);
}

/* CATALOG STYLES */
.catalog-filter-wrapper {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

  /* catalog h1 title */
.catalog-main-title {
    text-align: center;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    margin-right: 34px;
    padding-top: 71px;
    padding-bottom: 110px;
}

.site-navigation-current {
    border-bottom: 2px solid var(--basic-button-bg-color);
}

/* FILTERS */
.filter {
    width: 260px;
    margin-top: 3px;
}

.filter ul {
    list-style: none;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.option-list {
    margin: 0;
    margin-top: 19px;
    padding: 0;
    line-height: 19px;
}

.option-list-radio li {
    margin-top: 22px;
}

.option-list-radio li:first-child {
    margin-top: 13px;
}

.option-list-checkbox li {
    margin-top: 21px;
}

.option-list-checkbox li:first-child {
    margin-top: 20px;
}

  /* price filter */

.range-filter {
    width: 260px;
    margin-top: 48px;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--basic-gray);
    border-radius: 3px;
}

.range-controls .scale {
    margin-top: 2px;
    height: 2px;
    background-color: #D7DCDF
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00CA74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #fff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
}

.price-controls input {
    width: 60px;
    margin-left: 8px;
    padding: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 3px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
}

  /* filter options */
.filter-option {
    margin: 0 auto;
    margin-left: 36px;
    padding: 0;
    position: relative;
    display: block;
}

.filter-option label {
    cursor: pointer;
}

  /* radio filter */
.grid-option {
    margin-top: 59px;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    right: 235px;
    top: -4px;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-border.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
    cursor: pointer;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    right: 243px;
    top: 4px;
    width: 9px;
    height: 9px;
    background-image: url("../img/radio-checked.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
    opacity: 1;
}

  /* checkbox filter */
.features-option {
    margin-top: 49px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 234px;
    width: 25px;
    height: 25px;
    background-image: url("../img/checkbox-border.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    bottom: 4px;
    right: 234px;
    width: 21px;
    height: 17px;
    background-image: url("../img/checkbox-checked.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
    opacity: 1;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::after,
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after {
    opacity: 0.1;
}

.filter-button {
    margin-top: 50px;
    padding-left: 88px;
    padding-right: 89px;
    background-color: var(--basic-gray);
    color: inherit;
    line-height: 18px;
    font-weight: 500;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #DFDFDF;
}

.filter-button:active {
    background-color: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: var(--special-button-text-color-opacity);
}

/* CATALOG SORT */
.catalog-list-container {
    width: 776px;
}

.sort {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sort h2 {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.sort-option-list {
    position: relative;
    width: 299px;
    top: 2px;
    right: 31px;
    margin: 0;
    margin-left: 241px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.sort-option-item button {
    padding: 0;
    margin-left: 25px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.up-down-sort-buttons {
    position: relative;
    top: 9px;
    right: 17px;
    width: 40px;
    display: flex;
    justify-content: space-between;
}

.up-down-sort-buttons button {
    width: 11px;
    height: 10px;
    border: none;
    background-color: transparent;
}

.down-button {
    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
}

.up-button {
    background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
}

/* CATALOG LIST */
.catalog {
    width: 760px;
}

.catalog-list {
    margin-top: 25px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.header-img {
    margin: 0;
    padding: 0;
    opacity: 0.12;
}
.main-img {
    margin: 0;
    margin-top: -5px;
    padding: 0;
}

.catalog-item-img-block {
    margin-top: 22px;
    width: 360px;
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
}


/* pagination list */
.pagination-list {
    margin: 0;
    padding: 0;
    margin-top: 49px;
    margin-bottom: -20px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.pagination-button a {
    text-decoration: none;
    font-weight: 500;
    color: var(--title-text-color);
}

.pagination-button {
    margin-right: 11px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 18px;
    background-color: var(--basic-gray);
    border-radius: 3px;
}

.pagination-button-next {
    padding-left: 78px;
    padding-right: 77px;
}

.pagination-button:hover,
.pagination-button:focus {
    background-color: #DFDFDF;
}

.pagination-button:active {
    background-color: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: var(--special-button-text-color-opacity);
}

.pagination-button a:active {
    color: var(--special-button-text-color-opacity);
}

.pagination-button-current {
    background: rgba(0, 0, 0, 0.0001);
    border: 3px solid #DBDBDB;
    box-sizing: border-box;
    padding: 13px 17px;
}

.pagination-button-current:hover,
.pagination-button-current:focus,
.pagination-button-current:active,
.pagination-button-current a:hover,
.pagination-button-current a:focus,
.pagination-button-current a:active {
    background: rgba(0, 0, 0, 0.0001);
    cursor: auto;
    color: var(--special-button-text-color);
}
